.Frame {
  width: max-content;
  border-radius: 0.25em;
  position: relative;
}

.Frame.bordered,
.Frame.titled {
  border: 1px solid #7f7f7f;
  padding: 0.5em;
}

.Frame.titled {
  margin-top: 0.625em;
}

.Frame .title {
  position: absolute;
  top: -0.66em;
  padding: 0 0.25em;
  background-color: var(--window-background);
}
